@model Yess.Models.Product

<h1>Delete Product</h1>

<form asp-action="Delete"  asp-controller="Products" method="post">
    <input asp-for="ProductId" name="ProductId"  type="hidden" />
    @* <p>Are you sure you want to delete <strong>@Model.ProductName</strong>?</p> *@
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
