@model IEnumerable<Yess.Models.Category>


<h2 class=" text-center mb-5"> List of Categories</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Category" asp-action="Create">Add Category</a>
	</div>
	<div class="col">
	</div>
</div>

<table class="table table-bordered text-center">
    <thead class="bg-dark text-light">
        <tr>
            <th>Category Name</th>
            <th>CategoryId</th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>@category.CategoryId</td>

                <td>
                    <a class="btn btn-primary btn-sm" type="submit" asp-controller="Category" asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a> |
                    
                    <form asp-action="Delete" asp-controller="Category" method="post">
                        <input type="hidden" name="categoryId" value="@category.CategoryId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



